
.box_t1{
    display: flex;
    /* border: 1px solid; */
    .inputBox{
        /* background-color: aqua; */
        width: 90%;
        margin: auto;
    }
    & input{
        float: right;
    }
}
.tableBox{
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    & table{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    & td,th{
        width: 15%;
        padding: 8px;
        border-bottom: 1px solid rgb(220, 220, 220);
    }
}
.addBtn{
    width: 15%;
    height: 5%;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(41, 167, 216);
    color: white;
}
.popOver{
    width: 150px;
    height: 110px;
    position: absolute;
    right: 110px;
    top: 230px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid silver;
    padding: 5px;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    & p{
        padding: 5px 10px 0px 10px;
    }

    & p:hover{
        background-color: rgb(183, 183, 183);
        border-radius: 8px;
    }
}